# Node.js & npm
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
lerna-debug.log

# Builds
dist/
build/
out/
.output/

# GraphQL schema
schema.gql

# OS
.DS_Store
Thumbs.db

# Environments
.env
.env.local
.env.*.local

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~
*.sublime-*
.c9/

# Logs
logs/
*.log

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Testing
coverage/
.nyc_output/
jest.config.js
